*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}
.f{
	border: 1px solid black;
	width: 80%;
	height: auto;
	padding: 20px;
	background-color: lightgreen;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-around;
	align-items: content;
}
.fi{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	color: white;
	font-size: 18px;
	background-color: brown;
	display: flex;
	justify-content: center;
	align-items: center;
}