*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}
body{
	background-color: lightgray;
}
.d1{
	background-color: white;
	color: gray;
	width: 310px;
	height: auto;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
b{
	color: black;
}
.p3{
	margin: 20px 0;
}
img{
	margin-left: 25px;
}